<form #registerForm="ngForm" (ngSubmit)="addConnection()" autocomplete="off">
    <h2 class="form-group"></h2>
    <hr>

    <div class="form-group">
    <label>კომპანია</label>
      <select class="form-control" name="companyId"  [(ngModel)]="model.companyId" >
    <option *ngFor="let company of Companies" ngValue="{{company.id}}">
        {{company.companyName}}
    </option>
</select>
</div>
<div class="form-group">
    <label>მარკეტი</label>
    <select class="form-control"  name="marketId" [(ngModel)]="model.marketId">
        <option *ngFor="let market of Markets" ngValue="{{market.id}}">
            {{market.name}}
        </option>
    </select>
    </div>
    <div class="form-group">
        <label>ფასი</label>
        <input 
        type="number"
        class="form-control" 
        name="price"
        [(ngModel)]="model.price"
        placeholder="მიუთითეთ კომპანიის ფასი"
        >
    </div>
    <div class="form-group">
        <button class="btn btn-success mr-2" type="submit">დამატება</button>
    </div>
    
    </form>